
.grid_link {
    display:grid;
    grid-template-rows: 5rem 30rem;
}

#link h1 {
    justify-self: center;
    align-self: center;
}

#link ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12rem 12rem;
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

#link li {
    text-align: center;
    transition-duration: 0.2s;
    padding: 0 0.2rem;
}

#link li p {
    color: transparent;
    transition: all 0.5s;
}

#link li:hover{
    background-color: #d8a7f967;
    padding-top: 0.2rem;
    padding-bottom: 2rem;
    color: black;
}

#link li:hover p {
    color: black;
}

