@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;700&display=swap');

body {
    background-image: url(../bg.png);
    background-size: cover;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    /* width: 60vw; */
    font-family: 'IBM Plex Serif', serif;
    text-align: left;
    overflow: hidden;
    background-color: #cf6b74;
    line-height: 2;
}

.tab {
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

a {
    color:black;
    text-decoration: none;
}

.tab a {
    margin-right: 2rem;
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0.2rem 0.2rem 0 1px #FE818B;
    transition:all 0.1s;
    text-shadow: 0.05rem 0.05rem#FE818B;
}
.tab a:hover {
    box-shadow: 0.5rem 0.5rem 0 1px #FE818B;
}

.box {
    position:relative;
    width: 50vw;
    min-height:56vh;
    /*box-shadow: 0.2rem 0.2rem 0 1px #FE818B;
    background-color: white;
    transition:all 0.1s; */
    /**/
}

.grid {
    box-shadow: 0.2rem 0.2rem 0 1px #FE818B;
    background-color: white;
    /* width: 50vw; */
    min-height:56vh;
    transition:all 0.1s ease-in;
}

.grid:hover {
    box-shadow: 1rem 1rem 0 1px #FE818B;
}

.box h1,h2,h3 {
    transition: all 0.2s;
}

.box:hover h1, .box:hover h2, .box:hover h3 {
    text-shadow: 0.1rem 0.1rem#FE818B;
}


.inactive {
    position:absolute;
    visibility: hidden;
    display:none;
    opacity: 0;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.active {
    position:absolute;
    opacity: 1;
    /* transition: opacity 0.2s ease-in, visibility 0.2s ease-in; */
}

.inner {
    position:relative;
    width: 60rem;
    height: 35rem;
}